@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* contenitore centratura */
.containerBody {
    width: 65%;
    margin: 0 auto;
}


/* sezione header  */
header {
    /* height: 100px; */
    /* background-color: #e579e6; */
    margin: 20px 0 40px;
}

#logo {
    height: 80px;
    padding-right: 20px;
    border-right: solid 1px #e5e5e5;
}

#navBar {
    margin-top: 30px;
}

#navBar li {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

#navBar li a {
    text-decoration: none;
    color: #888888;
}

/* sezione illustrazione e cta  */
.jumbotron {
    height: 500px;
    background-color: #e1d67a;
    margin-bottom: 20px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

#containerSottotitoli {
    float: left;
    width: 60%;
    height: 200px;
    margin: 320px 0 0 50px;
}

#titoloJumbo {
    color: white;
    font-weight: 400;
}

#sottotitoloJumbo {
    color: white;
    font-weight: 200;
}

/* contenitore clearfix  */
.containerMain {
    background-color: #0086ff;
    margin-bottom: 10px;
}

/* clearfix  */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.sectionHeader {
    height: 50px;
    background-color: #abcfe7;
}

/* widget laterale */
.sidebar {
    float: left;
    width: 19%;
    height: 400px;
    background-color: #abcfe7;
    margin: 1% 0;
}

/* sezione principale centrale */
.article {
    float: left;
    width: 60%;
    height: 400px;
    background-color: #abcfe7;
    margin: 1%;
}

footer {
    height: 100px;
    background-color: #8801fe;
    margin-bottom: 20px;
}